li {
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0% 100%;
}
.celestial-body li {
	border-left: 0px;
}
.celestial-body p {
	position: absolute;
	text-align: center;
	transform: rotate(-90deg);
	margin: 30px 0 0 -24px;
	font-weight: 600;
	font-family: sans-serif;
}
